<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<style type="text/css"> 
<!-- 
 
 #navbar ul { 
  margin: 0; 
  padding: 5px; 
  list-style-type: none; 
  text-align: center; 
  background-color: #000; 
  } 
 
#navbar ul li {  
  display: inline; 
  } 
 
#navbar ul li a { 
  text-decoration: none; 
  padding: .2em 1em; 
  color: #fff; 
  background-color: #000; 
  } 
 
#navbar ul li a:hover { 
  color: #000; 
  background-color: #fff; 
  } 
 
--> 
</style> 
</head>
<div>
  <h1>Instrumental &</h1> 
</div>
<body> 
<div id="navbar"> 
  <ul> 
  <li><a href="#"><<</a></li> 
  <li><a href="#">></a></li> 
  <li><a href="#">||</a></li> 
  <li><a href="#">>></a></li> 
  <li><a href="#">Stop</a></li>
  <li><a href="#">K</a></li> 
  </ul> 
</div>
<div>
  <p>Wind</p>
  <p>String</p>
  <p>Percussion</p>
</div> 
<hr>
<div>
  <p>Trumpet</p>
  <p>Saxophone</p>
  <p>Clarinet</p>
  <p>Flute</p>
  <p>Piccolo</p>
  <p>Oboe</p>
</div>
</body> 
</html>