<p><strong>Instrument Categories</strong></p>
<div>
  <% @instrument_categories.each do |ic| %>
    <p><%= link_to ic.title, instrument_category_instruments_path(ic) %></p>
  <% end %>
</div> 
<hr>
  <p>Search by: <strong><%= @instrument_category.title %></strong></p>
<div>
  <% @instrument_category.instruments.each do |instrument| %>
    <p><%= link_to instrument.title, instrument_category_instrument_path(@instrument_category, instrument) %></p>
  <% end %>
</div>
