<div id="tracks">
  <h2>Search by: <%= @instrument.title %></h2>
  <% @instrument.songs.each do |song| %>
    <div class="track">
      <%= link_to song.song_title, song.track_url %>
    </div>
  <% end %>
</div>