<div id="tracks">
  <% @instrument.songs.each do |song| %>
    <div class="track">
      <%= link_to 'Download Song', song.track_url %>
      <div class="title"><%= song.song_title %></div>
    </div>
  <% end %>
</div>